.DS_Store

.atom/

.idea

.dart_tool/

.packages

.pub/

build/

ios/.generated/

pubspec.lock

.flutter-plugins

\.vscode/settings\.json

\.vscode/launch\.json

ios/Flutter/flutter_export_environment.sh

*
!.gitattributes
!.gitignore
!readme.md
!.gitkeep
!*.dart
!*.flutter-plugins-dependencies
!*/
.flutter-plugins-dependencies
